<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
      integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/css/styles.css">
    <title>A lowlevel Vue application</title>
  </head>
  <body>
    <div id="app">
    
    </div>
    <!-- Use render function instead. Possibly import the render function for clarity -->
    <script type="text/x-template" id="note-summary-template">
              <div @mouseenter="showEditButton = true" @mouseleave="showEditButton = false" class="border border-secondary note-summary p-2 mt-2 card">
                <div class="d-flex justify-content-end">
                  <input type="checkbox" name="delete-note-check" id="delete-note-check" v-on:click="toggleSelect">
                </div>
                <div class="card-body">
                  <input type="text" class="card-title d-block w-100" :value="note.title" @change="changeNoteTitle"/>
                  <p class="card-text">{{note.text | summarize}}</p>
                  <button @click="launchEditNote" class="btn btn-warning" v-if="showEditButton">edit</button>
                </div>
                <div class="card-footer bg-transparent py-1">
                  <span class="d-block">{{note.labels.join(", ")}}</span>
                </div>
                <create-edit-note v-if="showNoteModal" :mode="mode" :note="note" @closeModal="closeModal"></create-edit-note>
              </div>
            </script>
    <script src="/dist/build.js"></script>
  </body>
</html>
